In [ ]:
# problem solving
#
# basic syntax, if-else, loops, for while
# list, dictionary, set, set operator
# list, dictionary
# enumerate, zip function
# functions

In [ ]:
# Today topic function
# Collection of statement
'''
code reusuable
a=10
b=20
c=15
d=25
c+d

-- fuction
-- error handle/ debugg

'''

In [3]:
# funtion declaration
def regex():
  var="krishna" # local variable
  print("hello",var)
  print("good morning")

In [8]:
regex()

hello krishna
good morning

In [9]:
var="krishna" # global variable
def regex():
  print("hello",var)
  print("good morning")

In [10]:
regex()
print(var)

hello krishna
good morning
krishna

In [11]:
var="krishna" # global variable
def regex():
  var="shyam" # local variable
  print("hello",var)
  print("good morning")

In [12]:
regex()
print(var)

hello shyam
good morning
krishna

In [14]:
def regex(x):
  print("hello",x)
  print("good morning")

regex("krishna")
regex("shyam")

hello krishna
good morning
hello shyam
good morning

In [26]:
def regex(c,d):
  print("adding number","c:",c,"d:",d,"=",c+d)

In [27]:
a=10
b=20

x=98
y=76

regex(10,20)
regex(100,20)
regex(a,b)
regex(x,y)

adding number c: 10 d: 20 = 30
adding number c: 100 d: 20 = 120
adding number c: 10 d: 20 = 30
adding number c: 98 d: 76 = 174

In [37]:
def regex(c): # parameter
  c=11
  print("c Value is=",c,id(c))

In [40]:
a=10
print("before a",id(a))
regex(10) #10=> argument
regex(a)
print("after a",id(a),a)

before a 10751144
c Value is= 11 10751176
c Value is= 11 10751176
after a 10751144 10

In [49]:
# type of argument
def func(eid, name, salary):
  print(f"eid:{eid} Name:{name} Salary:{salary}")

In [51]:
# required argument
func(10,"harshit",9999)
func(11,"himanshu",9999)

eid:10 Name:harshit Salary:9999
eid:11 Name:himanshu Salary:9999

In [53]:
# positional argument
func("harshit",9999,10)
func(11,"himanshu",9999)

eid:harshit Name:9999 Salary:10
eid:11 Name:himanshu Salary:9999

In [55]:
# keyword argument
def func(eid, name, salary):
  print(f"eid:{eid} Name:{name} Salary:{salary}")

func(eid=10,salary=9999,name="jai")
func(eid=10,name="jai",salary=9999)

eid:10 Name:jai Salary:9999
eid:10 Name:jai Salary:9999

In [59]:
def func(eid, name, salary):
  print(f"eid:{eid} Name:{name} Salary:{salary}")

# func(salary=9999,name="jai",10) error
# func(999,name="jai",10) error
# positional argument starting not mid and last
# func(9999,10,name="jai") error => multiple values
func(9999,"jai",salary=10)

eid:9999 Name:jai Salary:10